.boxes{
    width: 18rem;
    transition: all 0.2s ;

}
.boxes:hover{
    transform: scale(1.2);
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.names{
    display: flex;
    
    justify-content: space-between;
}
.add-to-cart{
    padding: 5px;
}
.view-details{
    padding: 5px;
}
.pics1{
    height: 6cm;
}